<div class="body">
  <div>
    <div class="keys">
      <div>Количество километров:</div>
      <div>Возраст:</div>
      <div>Вес багажа:</div>
    </div>
    <div class="values">
      <div>
        <input type="number" value="" [(ngModel)]="inputKm">
      </div>
      <div>
        <input type="number" value="" [(ngModel)]="inputAge">
      </div>
      <div>
        <input type="number" value="" [(ngModel)]="inputWeight">
      </div>
    </div>
  </div>
  <div class="buttonDiv">
    <button class="button" (click)="ae.toCalculateAviaEconom();
                      am.toCalculateAviaMiddle();
                      al.toCalculateAviaLuxe();
                      te.toCalculateTrainEconom();
                      tm.toCalculateTrainMiddle();
                      tl.toCalculateTrainLuxe()">
      Рассчитать
    </button>
  </div>
  <div class="proposal">Предложения:</div>
  <div class="block">
    <div class="paragraph">Аэрофлот</div>
    <app-avia-econom #ae [Km]="inputKm" [Age]="inputAge" [Weight]="inputWeight"></app-avia-econom>
    <app-avia-middle #am [Km]="inputKm" [Age]="inputAge" [Weight]="inputWeight"></app-avia-middle>
    <app-avia-luxe #al [Km]="inputKm" [Age]="inputAge" [Weight]="inputWeight"></app-avia-luxe>
  </div>
  <div class="block">
    <div class="paragraph">РЖД</div>
    <app-train-econom #te [Km]="inputKm" [Age]="inputAge" [Weight]="inputWeight"></app-train-econom>
    <app-train-middle #tm [Km]="inputKm" [Age]="inputAge" [Weight]="inputWeight"></app-train-middle>
    <app-train-luxe #tl [Km]="inputKm" [Age]="inputAge" [Weight]="inputWeight"></app-train-luxe>
  </div>
</div>
